.textoRojo {
  color: #9e1604;
}

.boton {
  border-radius: 5px;
  color: antiquewhite;
  border: 1px solid #858585;
}

.boton:nth-of-type(2){
  background: #006600;
}

.disminuir{
  background: #920000;
}


.boton:nth-of-type(2):hover{
  background: #009900;
}

.disminuir:hover{
  background: #c00000;
}

.verde{
  color: green;
}

.rojo{
  color: red;
}